* {
  margin: 0%;
  padding: 0%;
  font-family: "Poppins", "sans-serif", "Arial";
}
.navbar {
  display: flex;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;

  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to right, black 62%, rgb(44, 5, 117));
  /* padding: 5px 70px; */

  ul {
    display: flex;
    align-items: center;
    list-style-type: none;

    gap: 30px;
  }
  .logo {
    padding-left: 100px;
  }
  li {
    font-size: 20px;
    font-weight: bold;
    color: white;

    cursor: pointer;
  }
}
.ull {
  display: flex;
  align-items: center;
  justify-content: end;

  padding-right: 100px;
}
li:hover {
  border-bottom: 4px solid white;
}
.welcome-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 100px;
  background: linear-gradient(to right, black 80%, rgb(44, 5, 117));
  color: white;
  padding-left: 100px;
}
.h1 {
  color: #6d95fc;
  font-size: 21px;
  line-height: 31.5px;
  font-weight: 500;
}
.welcome-intro {
  font-weight: 200;
  padding-top: 20px;

  font-size: 50px;
}
.welcome-p {
  color: #ffffff;
  font-size: 21px;
  font-weight: 300;
  padding-bottom: 50px;
}
.welcome-btn {
  border: 4px solid #6d95fc;
  margin-top: 20px;
  background: black;
  color: white;

  box-shadow: #6d95fc 0px 0px 10px;
  padding: 10px 10px 10px 10px;
}
button:hover {
  border: 4px solid white;
  cursor: pointer;
}

.img2 {
  object-fit: cover;
  width: 500px;
  height: 600px;
  margin-right: 100px;
}
.img3 {
  object-fit: cover;
  width: 500px;
  height: 400px;
  margin-left: 100px;
  padding-top: 100px;
}
.span1 {
  color: #6d95fc;
}
hr {
  border: 2px solid #6d95fc;
  width: 90px;
  margin-top: 20px;
  margin-bottom: 20px;
}
/*///////////////// about-us */
.about-us {
  display: flex;
  justify-content: space-between;
  padding-right: 100px;
  align-items: center;
  background: linear-gradient(to left, black 80%, rgb(44, 5, 117));
  color: white;
}
.about {
  padding-top: 100px;
  font-weight: 300;
  font-size: 21px;
}
.about-h1 {
  padding-top: 20px;
  font-weight: 500;
  font-size: 48px;
}
.about-p {
  padding-top: 20px;
}
/*///////////////// services */
.services {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to right, black 90%, rgb(44, 5, 117));
  color: white;
  padding-right: 100px;
}

.services-h1 {
  padding-top: 200px;
  padding-left: 100px;
  font-weight: 200;
  font-size: 21px;
  padding-bottom: 200px;
}
.services-row {
  background: linear-gradient(
    to left,
    rgba(12, 12, 12, 0.1),
    rgba(44, 5, 117, 0.3)
  ) !important;
  margin-bottom: 25px;
}

.services-row:hover {
  cursor: pointer;
  transform: scale(1.1);
  z-index: 2;
  box-shadow: 0px 0px 5px #a3baf5;
  transition: 1s;
}

/*////////////////////// .achievements */
.achievements {
  display: flex;
  padding-top: 100px;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to left, black 80%, rgb(44, 5, 117));
  color: white;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 50px;
}
/*///////////////// our work */
.our-work {
  padding: 50px 0;
  text-align: center;
  background: black 80%;
  color: white;
}

.work-p {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  text-align: center;
}
.hr {
  border: 0;
  border-top: var(--bs-border-width) solid;
  margin: 0 10px;
  border: 2px solid #6d95fc;
  width: 90px;
}

/* img-section */
.img-section {
  display: inline-flex;
  background: black 80%;
}
.img10 {
  object-fit: contain;
  width: 500px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
  height: 500px;
  transition: 1s;
  max-width: 100%;
  height: 33vw;
  margin: auto;
  padding-top: 50px;
}
.img10:hover {
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
}
/* ///////////  <!-- dot Section Start --> */
.dot {
  padding: 50px 0;
  text-align: center;
  background: black 80%;
  color: white;
}
/* ///////////  <!-- Why us --> */
.why-row {
  padding-top: 150px;
  padding-left: 100px;
  padding-right: 50px;
  font-weight: 200;
  font-size: 21px;
  padding-bottom: 100px;
}
/*////////////////////// TESTIMONIALS */
.TESTIMONIALS {
  text-align: center;

  background: black 80%;
  color: white;
}
.test-hr {
  border: none;
  height: 4px;
  background-color: #6a6cff;
  margin: 0 auto 20px auto;
  width: 9rem;
  margin-top: 10px;
  margin-bottom: 10px;
}
.test-heading {
  font-weight: 500;
  font-size: 48px;
}
.test-img {
  margin-top: 100px;
  padding-bottom: 30px;
  border-bottom: 2px solid #6d95fc;
  background: linear-gradient(
    175.64deg,
    rgba(17, 24, 42, 0.7) 19.67%,
    rgba(17, 24, 42, 0) 121.51%
  );
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px,
    rgb(44, 5, 117) 0px 2px 4px 0px, rgb(44, 5, 117) 0px 0px 0px 1px inset;
}
.testmo-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.first {
  background: url("https://s3-alpha-sig.figma.com/img/e3fa/2cc8/288734639c1950c348c64e754e663b97?Expires=1722816000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=cy1FETV635i7AXDQc5G2qcbKDWJ1jLF-Vo6Nv5AlKJigbuTDRODzyGAFQkslIxP6Xqj8-wVsobNrLfXzfrjNo6DDXptNT3CLMJCNk~T-fkkrHps~Iz-1b-l~jgIOS67P6WESaUxsXTAPxAF41VggF9HNcMDcFC8YYnwRLalhfDTDiD2FkcKjsh91wmcRGeN3D9MN6YzLcS1gLY4492J59I~cv6MSWQawmE32huMp7X1T2NH6z9WlSPTj~gCqAsFFaOsQa24uz0FqA5pIgXEM-WcvS7kJhYyB-ZwkzuhTXx6hQ2EkpYhZbYHUqYsS5mCQx0AQDutWJy82QO0H2bdNsw__")
    no-repeat;
  background-size: cover;
  min-height: 100vh;
  background-position: left;
}
.last {
  background: url("https://s3-alpha-sig.figma.com/img/e3fa/2cc8/288734639c1950c348c64e754e663b97?Expires=1722816000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=cy1FETV635i7AXDQc5G2qcbKDWJ1jLF-Vo6Nv5AlKJigbuTDRODzyGAFQkslIxP6Xqj8-wVsobNrLfXzfrjNo6DDXptNT3CLMJCNk~T-fkkrHps~Iz-1b-l~jgIOS67P6WESaUxsXTAPxAF41VggF9HNcMDcFC8YYnwRLalhfDTDiD2FkcKjsh91wmcRGeN3D9MN6YzLcS1gLY4492J59I~cv6MSWQawmE32huMp7X1T2NH6z9WlSPTj~gCqAsFFaOsQa24uz0FqA5pIgXEM-WcvS7kJhYyB-ZwkzuhTXx6hQ2EkpYhZbYHUqYsS5mCQx0AQDutWJy82QO0H2bdNsw__")
    no-repeat;
  background-size: cover;
  min-height: 100vh;
  background-position: right;
}
/*!-- ////////////////////// Contact --*/

.contact-parent {
  display: flex;

  justify-content: space-between;
  padding-top: 100px;
  /* justify-content: space-between; */
  align-items: center;
  background: linear-gradient(to left, black 70%, rgb(44, 5, 117));
  color: white;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 100px;
}

.contact-info {
  display: flex;
  align-items: center;
  gap: 30px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
}

.contact-container h5,
.contact-container p {
  font-size: 16px;
  font-weight: bold;
}

.contact-p {
  color: #6d95fc;
}

.contact-img {
  width: 30px;
  height: 35px;
}

.container-row {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 20px;
}

.input {
  --bs-bg-opacity: 1;
  background-color: transparent !important;
}

.contact-form {
  background: linear-gradient(
    to top,
    rgba(12, 12, 12, 0.1),
    rgba(44, 5, 117, 0.3)
  ) !important;
  padding: 3rem !important;
  border-radius: 5px;
  width: 20%;
}

.form-group {
  margin-bottom: 20px;
}

input,
textarea {
  width: 100%; /* Ensure full width input and textarea */
  padding: 5px;
  background-color: rgba(17, 24, 42, 0);
  border: 1px solid #ccc;
  border-radius: 1px;
  font-size: 14px;
}

::placeholder {
  color: #999;
}

/* ////////////////////////footer */

body {
  background-color: black;
  color: white;
  font-family: Arial, sans-serif;
}
.span11 {
  color: #6d95fc;
  font-weight: 600;
  font-size: 60px;
}
.p-tag {
  margin-top: 10px;
  margin-bottom: 25px;
}

footer {
  padding: 20px;
  text-align: center;
  background-color: black;
}
.p-footer {
  margin-top: 40px;
  color: white;
  text-align: center;
  font-size: 16px;
  font-weight: 300;
  /* margin-bottom: 30px; */
  padding-top: 3rem !important;
  padding-bottom: 3rem !important;
  background: radial-gradient(rgb(44, 5, 117), black 30%);
}

.footer-content h1 {
  font-size: 2rem;
  color: #4a4aff;
}

.footer-content h2 {
  font-size: 1.2rem;
  color: #bbbbff;
}
.footer-hr {
  width: 6%;
  border: 2px solid #4a4aff;
  margin: 0.5rem auto;
  margin-bottom: 20px;
}

.footer-content nav ul {
  list-style: none;
  padding: 0;
  margin: 10px 0;
}

.footer-content nav ul li {
  display: inline;
  margin: 0 10px;
}

.footer-content nav ul li a {
  color: #bbbbff;
  text-decoration: none;
}

.footer-content p {
  margin: 20px 0;
  font-weight: 300;
  font-size: 21px;
  color: white;
}

.social-icons a img {
  width: 24px;
  height: 24px;
  margin: 0 10px;
}
