* {
  margin: 0%;

  padding: 0%;
  font-family: "Poppins", "sans-serif", "Arial";
  box-sizing: border-box;
}
header {
  display: flex;
  position: fixed;
  z-index: 1;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to right, black 62%, rgb(44, 5, 117));
  padding: 20px 70px;
}
.hamburger {
  margin: 0px 20px;
  font-size: 28px;
  cursor: pointer;
  display: none;
}

.welcome-container {
  margin-top: 250px;
}
.logo {
  width: 16%;
}
.navbar {
  justify-content: space-between;

  gap: 2rem;
  font-weight: 200;
  list-style: none;
  display: flex;
  align-items: center;
  padding-top: 30px;
  font-size: 21px;

  color: #ffffff;
}
a:hover {
  color: white;
}
.hover-line {
  position: relative;
  text-decoration: none;
}
.hover-line::after {
  content: "";
  position: absolute;
  width: 0;
  left: 0;
  bottom: -10px;
  height: 5px;
  background-color: white;

  transition: width 0.3s ease;
}
.hover-line:hover::after {
  width: 100%;
}
section {
  display: flex;
  justify-content: space-between;

  background: linear-gradient(to right, black 80%, rgb(44, 5, 117));
  padding: 30px;
  width: 100%;
}
#portfolio {
  padding: 30px;
  padding-right: 130px;
  padding-left: 120px;
  align-items: center;

  color: white;
}
.img2 {
  width: 38%;
}

a {
  text-decoration: none;
  color: #ffffff;
}
.welcome-btn {
  border: 4px solid #6d95fc;
  margin-top: 20px;
  background: black;
  color: white;

  box-shadow: #6d95fc 0px 0px 10px;
  padding: 10px 10px 10px 10px;
}
button:hover {
  cursor: pointer;
}
.welcome-p {
  color: #ffffff;
  font-size: 21px;
  font-weight: 300;
  /* padding-bottom: 50px; */
}
.span1 {
  color: #6d95fc;
}
hr {
  border: 3px solid #6d95fc;
  width: 120px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.h1 {
  color: #6d95fc;
  font-size: 25px;

  font-weight: 500;
}
.welcome-intro {
  font-weight: 500;
  padding-top: 20px;

  font-size: 60px;
  max-width: 500px;

  text-align: left;
}

/* aboutt ////////////////////////////////////*/
#about {
  justify-content: space-between;
  background: linear-gradient(to left, black 70%, rgb(44, 5, 117));
}
.about-h1 {
  color: white;
  padding-top: 10px;
  font-weight: 700;
  font-size: 48px;
}
.img3 {
  width: 500px;
  height: 400px;
}
.about-p {
  padding-top: 20px;
  color: white;
  font-weight: 300;
  font-size: 21px;
}
.about {
  padding-right: 170px;
}
/*///////////////// services */

#services {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to right, black 90%, rgb(44, 5, 117));
  color: white;
  padding-right: 100px;
}

.welcomee-intro {
  font-weight: 500;
  padding-top: 20px;

  font-size: 40px;
}

.services-h1 {
  padding-top: 200px;
  padding-left: 100px;
  font-weight: 200;
  font-size: 21px;
  padding-bottom: 200px;
}

.services-row {
  width: 45%;
  height: 37vh;
  background: linear-gradient(
    to left,
    rgba(12, 12, 12, 0.1),
    rgba(44, 5, 117, 0.3)
  ) !important;
  margin-bottom: 30px;
}

.services-row:hover {
  cursor: pointer;
  transform: scale(1.1);
  z-index: 2;
  box-shadow: 0px 0px 5px #a3baf5;
  transition: 1s;
}

/*////////////////////// .achievements */
.achievements {
  display: flex;
  padding-top: 100px;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to left, black 80%, rgb(44, 5, 117));
  color: white;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 50px;
}

/*///////////////// our work */
.our-work {
  padding: 50px 0;
  text-align: center;
  background: black 80%;
  color: white;
}

.work-p {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  text-align: center;
}
.hr {
  border: 0;
  border-top: var(--bs-border-width) solid;
  margin: 0 10px;
  border: 2px solid #6d95fc;
  width: 90px;
}

/* img-section */
#pages {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
  width: 100%;
  padding: 0px 50px;
  background: black 80%;
}
.img10 {
  width: 100%;
  height: 90%;

  box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;

  transition: 1s;
}

#pages img {
  transition: transform 1s ease-in-out; /* Add transition effect */
}

#pages img:hover {
  cursor: pointer;
  transform: scale(1.2); /* Increase image size by 10% on hover */
}
.dot {
  padding: 50px 0;
  text-align: center;

  background: black 80%;
}
/* ///////////  <!-- Why us --> */
.why-row {
  padding-top: 150px;
  padding-left: 100px;
  padding-right: 50px;
  font-weight: 200;
  font-size: 21px;
  padding-bottom: 100px;
  color: #ffffff;
}

#categories {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to right, black 90%, rgb(44, 5, 117));
  color: white;
  padding-right: 100px;
}
.testt-heading {
  font-weight: 500;
  font-size: 48px;
}
.why-img {
  padding-top: 50px;
}
/*////////////////////// TESTIMONIALS */
.TESTIMONIALS {
  text-align: center;
  padding: 0px;
  background: black 80%;
  color: white;
}
.test-hr {
  border: none;
  height: 4px;
  background-color: #6a6cff;
  margin: 0 auto 20px auto;
  width: 9rem;
  margin-top: 10px;
  margin-bottom: 10px;
}
.test-heading {
  font-weight: 500;
  font-size: 48px;
}
.test-img {
  margin-top: 100px;
  /* width: 70%; */
  /* margin-bottom: 0px; */
  padding-bottom: 0;
  border-bottom: 2px solid #6d95fc;
  background: linear-gradient(
    to top,
    rgba(12, 12, 12, 0.1) 20%,
    rgba(44, 5, 117, 0.7)
  ) !important;
  border-radius: var(--bs-border-radius-lg) !important;
}
.testmo-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0px;
}
.first {
  background: url("https://creatic-creative-agency.vercel.app/Assets/Image%20(1).png")
    no-repeat;
  background-size: cover;

  background-position: left;
  max-width: 100%;
  height: auto;
}
.last {
  background: url("https://creatic-creative-agency.vercel.app/Assets/Image.png")
    no-repeat;
  background-size: cover;
  min-height: 100vh;
  background-position: right;
}

#support {
  display: flex;

  justify-content: space-between;
  padding-top: 90px;
  /* justify-content: space-between; */
  align-items: center;
  background: linear-gradient(to left, black 70%, rgb(44, 5, 117));
  color: white;
  padding-left: 160px;
  padding-right: 130px;
  padding-bottom: 100px;
}
.test-headingg {
  font-weight: 700;
  padding-top: 75px;
  font-size: 48px;
}

.contact-info {
  display: flex;
  align-items: center;
  gap: 30px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
}

.contact-container h5,
.contact-container p {
  font-size: 16px;
  font-weight: bold;
}

.contact-p {
  color: #6d95fc;
}

.contact-img {
  width: 30px;
  height: 35px;
}

.container-row {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-top: 20px;
  padding-left: 0px;
}

.input {
  --bs-bg-opacity: 1;
  background-color: transparent !important;
}

.contact-form {
  background: linear-gradient(
    to top,
    rgba(12, 12, 12, 0.1),
    rgba(44, 5, 117, 0.3)
  ) !important;
  padding: 3rem !important;
  border-radius: 5px;
  width: 33%;
}
#name {
  font-size: 18px;
}
.send-button {
  cursor: pointer;
  width: 50%;
  padding: 15px 30px;
  border: 4px solid #6d95fc;
  margin-left: 70px;
  font-size: 18px;
  text-align: center;
  color: white;
  background-color: #6d95fc;
  box-shadow: #6d95fc 0px 0px 10px;
}

.form-group {
  margin-bottom: 20px;
}

input,
textarea {
  width: 100%; /* Ensure full width input and textarea */
  padding: 10px 40px;

  background-color: rgba(17, 24, 42, 0);
  border: 1px solid #ccc;
  border-radius: 1px;
  font-size: 14px;
}

::placeholder {
  color: #999;
}
body {
  background-color: black;
  color: white;
  font-family: Arial, sans-serif;
}
.span11 {
  color: #6d95fc;
  font-weight: 600;
  font-size: 60px;
}
.p-tag {
  margin-top: 10px;
  margin-bottom: 25px;
}

footer {
  padding: 20px;
  text-align: center;
  background-color: black;
}
.p-footer {
  margin-top: 40px;
  color: white;
  text-align: center;
  font-size: 16px;
  font-weight: 300;
  /* margin-bottom: 30px; */
  padding-top: 3rem !important;
  padding-bottom: 3rem !important;
  background: radial-gradient(rgb(44, 5, 117), black 30%);
}

.footer-content h1 {
  font-size: 2rem;
  color: #6d95fc;
}

.footer-content h2 {
  font-size: 1.2rem;
  color: #bbbbff;
}
.footer-hr {
  width: 6%;
  border: 2px solid #6d95fc;
  margin: 0.5rem auto;
  margin-bottom: 20px;
}

.footer-content nav ul {
  list-style: none;
  padding: 0;
  margin: 10px 0;
}

.footer-content nav ul li {
  display: inline;
  margin: 0 10px;
}

.footer-content nav ul li a {
  color: #bbbbff;
  text-decoration: none;
}

.footer-content p {
  margin: 20px 0;
  font-weight: 300;
  font-size: 21px;
  color: white;
}
.welcome-pp {
  font-size: 21px;
  font-weight: 100;
  /* padding-bottom: 50px; */
}

.social-icons a img {
  width: 24px;
  height: 24px;
  margin: 0 10px;
}
/* responsive ////////////*/
@media only screen and (max-width: 768px) {
  .welcome-p {
    font-size: 19px;
    line-height: 1.2;
  }
  hr {
    width: 80px;
    border: 2px solid #6d95fc;
  }

  .welcome-container {
    max-width: 720px;
    margin-top: 130px;
    width: 75%;
  }

  .img2 {
    width: 28%;
    margin-top: 60px;
    height: auto;
  }
  .welcome-intro {
    font-size: 32px;
  }

  header {
    position: fixed;
    z-index: 1;
    border-bottom: 0.0001px solid #444;
    height: 100px;
    width: 100%;
    padding: 0px 18px;
  }

  #portfolio {
    border-bottom: 0.1px solid #444;

    padding-right: 31px;
    padding-left: 29px;
    position: relative;
  }
  header .navbar {
    flex-direction: column;
    display: none;
    position: relative;
  }

  /* aboutt ////////////////////////////////////*/
  .about {
    padding: 0;
    padding-top: 10px;
  }
  #about {
    display: flex;
    align-items: center;
    justify-content: space-between !important;
    border-bottom: 0.1px solid #444;
  }
  .about-p {
    padding-top: 10px;

    font-weight: 500;
    font-size: 16px;
  }
  .about-h1 {
    padding-top: 14px;
    font-weight: 500;
    font-size: 35px;
  }
  .img3 {
    width: 300px;
    height: 270px;
  }
  .h1 {
    font-size: 21px;

    font-weight: 400;
  }
  /* services ////////////////////////////////////*/

  .services-h1 {
    margin-top: 150px;
    margin-left: 10px;
    margin-right: 0;
    padding: 0;
  }

  .welcomee-intro {
    font-weight: 500;
    padding-top: 20px;

    font-size: 40px;
  }
  #services {
    border-bottom: 0.1px solid #444;
  }

  /*////////////////////// .achievements */
  .achievements {
    width: 100%;
    padding-left: 8px;
    padding-top: 40px;
    border-bottom: 0.1px solid #444;
  }
  /* imges ////////////////*/
  .img10 {
    height: 41vw;
  }
  /* ///////////  <!-- Why us --> */
  .why-row {
    font-weight: 200;
    font-size: 21px;
    padding: 0;
  }
  #categories {
    padding-top: 58px;
    padding-right: 60px;
    padding-bottom: 120px;
    border-bottom: 0.1px solid #444;
  }
  .test-heading {
    font-weight: 200;

    font-size: 31px;
  }
  .welcome-pp {
    /* padding-top: 70px; */
    font-size: 16px;
    font-weight: 100;
    /* padding-bottom: 50px; */
  }
  .why-img {
    width: 58%;
  }
  .testmo-container {
    display: grid;
    grid-template-columns: 1fr;
    border-bottom: 0.1px solid #444;
  }
  .first {
    display: none;
  }
  .testt-heading {
    font-weight: 200;

    font-size: 38px;
  }
  .test-img {
    margin-top: 10px;

    width: 55%;
    height: 210px;
    margin-bottom: 20px;
  }
  .last {
    display: none;
  }

  #support {
    display: block;
    border-bottom: 0.1px solid #444;

    padding: 0;
  }
  .footer-content {
    border-bottom: 0.1px solid #444;
  }
  #pagese {
    border-bottom: 0.1px solid #444;
  }
  .test-headingg {
    font-weight: 500;
    padding-top: 75px;
    font-size: 36px;
  }
  .support-container {
    padding-left: 40px;
  }
  .social-icons {
    margin-bottom: 50px;
  }
  .p-footer {
    margin-top: 0;
  }
  .container-row {
    padding-left: 0px;
    padding-top: 30px;
  }
  .contact-form {
    margin-top: 40px;
    margin-left: 30px;

    width: 87%;
  }
  .send-button {
    margin-left: 145px;
    margin-bottom: 70px;
    font-size: 16px;
    width: 58%;
  }
  .ach-row {
    height: 150px;
  }

  .hamburger {
    cursor: pointer;
    display: block;
    background-color: rgb(34, 4, 91);
    width: 53px;
    height: 40px;
    text-align: center;
    color: rgb(2, 151, 238);
    box-shadow: #6d95fc 0px 0px 20px;
  }
  ul li {
    display: block;
    margin: 25px;
    font-weight: 500;
    margin-left: 35px;
  }

  ul {
    display: block;
  }
  .nav-img {
    width: 50px;
  }

  #menu {
    width: 100%;
    background: linear-gradient(to right, black 62%, rgb(44, 5, 117));
    position: absolute;
    top: 80px;
    transition: 0.1s 0.4s ease-in-out;
    border-bottom: 0.1px solid #444;
    right: 0;
  }
  .footer-hr {
    width: 13%;
  }
  .span11 {
    color: #6d95fc;
  }
}
@media only screen and (max-width: 482px) {
  section {
    display: flex;
    flex-direction: column;
  }
  .logo {
    width: 34%;
  }
  .welcome-container {
    width: 100%;
    padding: 0px;
  }
  #portfolio {
    align-items: start;
    padding: 48px 12px;
  }
  .welcome-p {
    font-size: 18px;
  }
  .img2 {
    width: 100%;
    height: auto;
  }
  .img3 {
    max-width: 100%;
    height: auto;
  }
  .send-button {
    /* padding: 10px 80px; */
    margin-left: 43px;
    margin-bottom: 70px;
    font-size: 16px;
    width: 65%;
  }

  #pages {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
    width: 100%;
    padding: 50px 20px;
  }
  header {
    padding: 0px;
  }
  #services {
    padding: 0;
  }

  .services-h1 {
    margin-top: 100px;
    margin-left: 0px;
    width: 100%;
  }
  .services-div {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
  }
  .services-row {
    width: 100%;
    height: 49vh;
  }
  .achievements {
    display: block;

    padding-top: 100px;

    padding-left: 60px;

    padding-bottom: 80px;
  }
  .img10 {
    height: 100%;
  }
  .ach-row {
    height: 152px;
  }
  .why-row {
    padding: 0px;
    width: 100%;
    padding-bottom: 50px;
  }

  #categories {
    padding: 78px 12px;
  }
  .test-img {
    width: 93%;
    margin-top: 20px;
  }
  .test-heading {
    font-weight: 200;
    font-size: 14px;
    width: 10%;
  }
  .welcome-pp {
    font-size: 20px;
    /* font-weight: 100; */
    /* padding-bottom: 50px; */
  }
  .TESTIMONIALS {
    padding-bottom: 50px;
    padding-top: 60px;
  }
  #about {
    padding: 0;
  }
  .about {
    padding: 50px 10px;
    width: 100%;
  }
}
